<head>
  <link rel="stylesheet" href="components/shopping-cart/shoppingCart.css" />
  >
</head>
<div class="cart-panel">
  <div class="cart-header">
    <h2>CARRITO</h2>
    <button class="close-btn">
      <i class="material-icons">close</i>
    </button>
  </div>
  <div class="cart-content">
    <div class="cart-box-container"></div>
  </div>
  <div class="cart-bottom">
    <div class="price-container">
      <h3>Total</h3>
      <h3>$0.00</h3>
    </div>
    <div class="cart-division"></div>
    <button class="btn-buy checkout-btn" id="checkout_btn">Iniciar Pago</button>
    <div id="wallet__container"></div>
  </div>
</div>
