<head>
  <link rel="stylesheet" href="src/components/header/header.css" />
  <link rel="stylesheet" href="styles/style.css" />
  <header class="header">
    <div class="logo">
      <a href="/">
        <img src="assets/images/logo.png" alt="Logo de la marca" href="/" />
      </a>
    </div>
    <nav>
      <ul class="nav-links">
        <li><a href="/">INICIO</a></li>
        <li><a href="/store">TIENDA</a></li>
        <li><a href="/sales">OFERTAS</a></li>
      </ul>
      <div class="search-bar">
        <input type="text" placeholder="BUSCAR..." id="mysearch" />
      </div>
    </nav>
    <ul class="nav-icons">
      <a class="search-toggle"><i class="material-icons search">search</i></a>
      <li>
        <a class="login-button"><i class="material-icons">person</i></a>
      </li>
      <li>
        <a class="shopping-cart"><i class="material-icons">shopping_cart</i></a>
      </li>
      <a class="burger-menu"><i class="material-icons burger-icon">menu</i></a>
    </ul>
  </header>
</head>
