<head>
  <link rel="stylesheet" href="/styles/featuredGames.css" />
</head>
<div class="featured-container">
  <h2>JUEGOS DESTACADOS</h2>
  <div class="gallery">
    <div class="gal-big-img">
      <img src="assets/images/gallery/cp2077_phantom_liberty_square.png" />
    </div>
    <div class="gal-img">
      <img src="assets/images/gallery/lies_of_pi_square_cover.jpg" />
      <img src="assets/images/gallery/bg3_square_cover.jpg" />
      <img
        src="assets/images/gallery/minecraft_square_cover.jpg"
        class="img-hide"
      />
      <img
        src="assets/images/gallery/re4remake_square_cover.jpg"
        class="img-hide"
      />
    </div>
  </div>
</div>
