<head>
  <link rel="stylesheet" href="/styles/featuredGames.css" />
</head>
<div class="featured-container">
  <h2>JUEGOS DESTACADOS</h2>
  <div class="featured-games">
    <div class="img-grid">
      <img src="https://source.unsplash.com/OyCl7Y4y0Bk" alt="">
      <img src="https://source.unsplash.com/Kl1gC0ve620" alt="">
      <img src="https://source.unsplash.com/55btQzyDiO8" alt="">
      <img src="https://source.unsplash.com/g0dBbrGmMe0" alt="">
    </div>
  </div>
      </div>
    </div>
  </div>
</div>
