<head>
  <link rel="stylesheet" href="components/featured-games/featuredGames.css" />
</head>
<div class="featured-container">
  <h2>JUEGOS DESTACADOS</h2>
  <div class="gallery">
    <div class="gal-big-img">
      <img
        src="https://res.cloudinary.com/dcbmvyyes/image/upload/v1697317278/gallery/kjxndmakxswlnl3leofi.jpg"
      />
    </div>
    <div class="gal-tin-img-container">
      <div class="gal-img">
        <img
          src="https://res.cloudinary.com/dcbmvyyes/image/upload/v1697317278/gallery/uf7maspyvgew57yfgikb.jpg"
        />
        <img
          src="https://res.cloudinary.com/dcbmvyyes/image/upload/v1697317279/games_db_images_compressed/ddakgrie2xsdoebwe7wa.jpg"
        />
        <img
          src="https://res.cloudinary.com/dcbmvyyes/image/upload/v1697317278/gallery/grwp9e6sgt3goezbk4fn.jpg"
        />
        <img
          src="https://res.cloudinary.com/dcbmvyyes/image/upload/v1697317278/gallery/cieqa1fwt4i8l7mhlpbz.jpg"
        />
      </div>
    </div>
  </div>
</div>
