<head>
  <script src="/src/components/game-card/GameCard.js"></script>
  <link rel="stylesheet" href="/styles/saleComponent.css" />
</head>
<div class="title">
  <h2>OFERTAS</h2>
</div>
<div>
  <div class="slae-component-container">
    <div class="sales-container">
      <div class="card-gallery">
        <game-card></game-card>
        <game-card></game-card>
      </div>
      <div class="card-gallery">
        <game-card></game-card>
        <game-card></game-card>
      </div>
    </div>
    <div class="sales-container">
      <div class="card-gallery">
        <game-card></game-card>
        <game-card></game-card>
      </div>
      <div class="card-gallery">
        <game-card></game-card>
        <game-card></game-card>
      </div>
    </div>
  </div>
</div>
