<head>
  <link
    rel="stylesheet"
    href="src/components/sale-container/saleComponent.css"
  />
</head>
<div class="title">
  <h2>OFERTAS</h2>
</div>
<div>
  <div class="sale-component-container">
    <div class="sales-container">
      <div class="card-gallery">
        <game-card data-product-id="1"></game-card>
        <game-card data-product-id="2"></game-card>
      </div>
      <div class="card-gallery">
        <game-card data-product-id="3"></game-card>
        <game-card data-product-id="4"></game-card>
      </div>
    </div>
    <div class="sales-container">
      <div class="card-gallery">
        <game-card data-product-id="5"></game-card>
        <game-card data-product-id="6"></game-card>
      </div>
      <div class="card-gallery">
        <game-card data-product-id="7"></game-card>
        <game-card data-product-id="8"></game-card>
      </div>
    </div>
  </div>
</div>
