<style>
  /* Add your styles for cart-item here */
  .cart-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px;
  }

  .cart-item img {
    max-width: 50px;
    margin-right: 10px;
  }

  .item-details h4 {
    margin: 0;
  }

  .item-details p {
    margin: 0;
    color: #888;
  }
</style>
<head>
  <script src="components/cart-item/CartItem.js"></script>
</head>
<div class="cart-item">
  <img src="https://placehold.co/50x50" alt="Product Image" />
  <div class="item-details">
    <h4 data-name="name">Lorem Ipsum</h4>
    <p data-price="price">0</p>
  </div>
</div>
