<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link
    rel="stylesheet"
    href="src/components/register-component/register.css"
  />
</head>
<div class="register-form-container">
  <h2>Registrarse</h2>
  <div class="form-container"></div>
  <form id="register-form">
    <div class="form-group">
      <p>Nombre de Usuario</p>
      <i class="material-icons person">person</i>
      <input
        type="text"
        id="username"
        name="username"
        placeholder="juanperez44"
        required
      />
      <div class="division-bar"></div>
    </div>
    <div class="form-group">
      <p>Nombre</p>
      <i class="material-icons person">person</i>
      <input
        type="text"
        id="firstName"
        name="firstName"
        placeholder="Juan"
        required
      />
      <div class="division-bar"></div>
    </div>
    <div class="form-group">
      <p>Apellido</p>
      <i class="material-icons person">person</i>
      <input
        type="text"
        id="lastName"
        name="lastName"
        placeholder="Perez"
        required
      />
      <div class="division-bar"></div>
    </div>
    <div class="form-group">
      <p>Email</p>
      <i class="material-icons person">mail</i>
      <input
        type="email"
        id="email"
        placeholder="juanperez@mail.com"
        name="email"
        required
      />
      <div class="division-bar"></div>
    </div>
    <div class="form-group">
      <p>Contraseña</p>
      <i class="material-icons person">lock</i>
      <input type="password" id="password" placeholder="********" name="
      ="password" required />
      <div class="division-bar"></div>
    </div>
    <div class="form-group">
      <p>Repetir contraseña</p>
      <i class="material-icons person">lock</i>
      <input
        type="password"
        id="repassword"
        placeholder="********"
        name="password"
        required
      />
      <div class="division-bar"></div>
    </div>
    <div class="button-container">
      <button class="register-btn" type="submit">Registrarse</button>
    </div>
    <div class="text">
      <h3>¿Ya tienes una cuenta?</h3>
      <a class="to-login"> Iniciar Sesión</a
    </div>
  </form>
</div>
