<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ImgSlider</title>
  <link rel="stylesheet" href="src/components/img-slider/slider.css" />
</head>
<div class="slider-container">
  <div class="img-slider">
    <div class="slide">
      <img
        src="https://res.cloudinary.com/dcbmvyyes/image/upload/v1697317283/banner/h7rkxef3ub2skfqrpiud.jpg"
        alt="img-1"
      />
    </div>
    <div class="slide">
      <img
        src="https://res.cloudinary.com/dcbmvyyes/image/upload/v1697317283/banner/dtdspxzhflwa9keq54bs.png"
        alt="img-2"
      />
    </div>
    <div class="slide">
      <img
        src="https://res.cloudinary.com/dcbmvyyes/image/upload/v1697317283/banner/z7onv3cgfijesu9n38lz.png"
        alt="img-3"
      />
    </div>
  </div>
  <div class="dotsContainer">
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
  </div>
</div>
