<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ImgSlider</title>
  <link rel="stylesheet" href="src/components/img-slider/slider.css" />
</head>
<div class="slider-container">
  <div class="img-slider">
    <div class="slide">
      <img src="https://lh3.googleusercontent.com/drive-viewer/AK7aPaCzsicQuTpxxNCI6x91pWgaktnhHYNRTM2Br15uKYyCv-bpdvnz7RM7-mlZuQN_kzSNsH0uuvb6iIvLSaXZLLSdf1ByWg=s1600" alt="img-1" />
    </div>
    <div class="slide">
      <img src="https://lh3.googleusercontent.com/drive-viewer/AK7aPaANbe2CJl1y2Q4ozaEdXI0Ssws4cVZ6QC1OI0LsHzNxiL4J9c0Btk5M49DiK-irD190xi3V04TKoGfoKKdqIsPnNNDTNQ=s1600" alt="img-2" />
    </div>
    <div class="slide">
      <img src="https://lh3.googleusercontent.com/drive-viewer/AK7aPaA_8JlKJunE-iKcMdqaBN40XpYIeFXee-W2msJwA9A1mXBPmDSG6fwoGFWOtwhOLxO8wvFRxf4YNeiNnnO7Z0dZIR8SCg=s1600" alt="img-3" />
    </div>
  </div>
  <div class="dotsContainer">
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
  </div>
</div>
