* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #b9b9b9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 5px 5%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header .logo {
  cursor: pointer;
  padding-top: 10px;
}

.nav-icons li {
  cursor: pointer;
}

.header .logo.active {
  display: none;
}

.header .logo img {
  height: 75px;
  margin-left: 0.5rem;
}

.header .nav-links li {
  display: inline-block;
  padding: 0 20px;
}
.nav-links li a:hover {
  text-decoration: underline;
}

.nav-links li a {
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
  color: inherit;
}

.nav-icons .material-icons {
  color: #363636;
  font-size: 2rem;
}

.material-icons:hover {
  color: black;
}

.header .nav-icons li {
  display: inline-block;
  padding: 0 5px;
}

/* Burger Menu Styling */

.burger-menu {
  display: none;
  cursor: pointer;
}

.search-bar {
  display: none;
}

.search-bar input[type="text"] {
  height: 3rem;
  padding-left: 2rem;
  min-width: 30rem;
  border: none;
  border-radius: 56px;
  background-color: #d1d1d1;
  transition: 2 ease-in-out;
}

.search-bar.active {
  display: inline;
}

.search-bar input[type="text"]:focus {
  outline: none;
}

.search-toggle {
  align-items: center;
}

.nav-links.active {
  display: none;
}

@media screen and (max-width: 890px) {
  .burger-menu {
    display: inline;
  }

  .search-bar input[type="text"] {
    min-width: 20rem;
  }

  .header .logo img {
    height: 75px;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    background-color: #b9b9b9;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    z-index: 1;
    transition: transform 0.3s ease;
    transform: translateY(-100%);
  }

  .nav-links.active {
    display: flex;
    align-items: start;
    gap: 2rem;
    padding: 2rem;
    z-index: 10;
    transform: translateY(0%);
  }

  .nav-links li {
    padding: 10px 20px;
    text-align: center;
  }
}
@media screen and (max-width: 512px) {
  .search-bar input[type="text"] {
    min-width: 10rem;
    max-width: 10rem;
  }
}
