<head>
  <link
    rel="stylesheet"
    href="src/components/featured-games/featuredGames.css"
  />
</head>
<div class="featured-container">
  <h2>JUEGOS DESTACADOS</h2>
  <div class="gallery">
    <div class="gal-big-img">
      <img src="https://lh3.googleusercontent.com/drive-viewer/AK7aPaBSf0kLaup-xuoRWJCEIVzJY7KPcVks_NcqIaFD54k_lEE4e6omoOdL210PW7K-LDWik57Qr5r4jR7NJbJw2uSMrh2m2A=s1600" />
    </div>
    <div class="gal-tin-img-container">
      <div class="gal-img">
        <img src="https://lh3.googleusercontent.com/drive-viewer/AK7aPaCzMJV8hXcoM-24GNttVKJevSYkr5W8vverKo886kXRGEkccy7caLqd_BfJawhrLmpw6fg9uavEiRRP5oR4ZxDi_3WJqQ=s1600" />
        <img src="https://lh3.googleusercontent.com/drive-viewer/AK7aPaCRrS9e6eSBUbemuubQFb2g6XE8rS8bJsOG8B29XWFYRJHZvfnf_vhRCnkvhkzpzbymMeZ9Ymymv3EnifbxGzxOVX0H=s1600" />
        <img src="https://lh3.googleusercontent.com/drive-viewer/AK7aPaCdOl2GKQS2HmXvkPUcrYArd5wep_ytFry7YH6sfZu-Qzxm0u46dwIV0sTnWnHs8iwhNoSfGokmclPsie25QEUpan4HiA=s1600" />
        <img src="https://lh3.googleusercontent.com/drive-viewer/AK7aPaBGdbLTbj3wbcCeXgc1NAw-BOgUmWE-iZ4ZCvV8hQ7tw4dkcSe6wmPwKhRDvAAUeJDYhI91cEjCHUFKRtRDr0j5eAl1gg=s1600" />
      </div>
    </div>
  </div>
</div>
