<head>
  <link
    rel="stylesheet"
    href="src/components/featured-games/featuredGames.css"
  />
</head>
<div class="featured-container">
  <h2>JUEGOS DESTACADOS</h2>
  <div class="gallery">
    <div class="gal-big-img">
      <img src="https://placehold.co/1024x1024" />
    </div>
    <div class="gal-tin-img-container">
      <div class="gal-img">
        <img src="https://placehold.co/1024x1024" />
        <img src="https://placehold.co/1024x1024" />
        <img src="https://placehold.co/1024x1024" />
        <img src="https://placehold.co/1024x1024" />
      </div>
    </div>
  </div>
</div>
