<head>
  <link rel="stylesheet" href="/styles/slider.css" />
</head>
<div class="slider-wrapper">
  <div class="slider">
    <img id="slide-1" src="https://placehold.co/600x400" alt="Img1" />
    <img id="slide-2" src="https://placehold.co/600x400" alt="Img2" />
    <img id="slide-3" src="https://placehold.co/600x400" alt="Img3" />
    <img id="slide-4" src="https://placehold.co/600x400" alt="img4" />
  </div>
  <div class="slider-nav">
    <a href="#slide-1"></a>
    <a href="#slide-2"></a>
    <a href="#slide-3"></a>
    <a href="#slide-4"></a>
  </div>
</div>
