<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ImgSlider</title>
  <link rel="stylesheet" href="styles/slider.css" />
</head>
<div class="slider-container">
  <div class="img-slider">
    <div class="slide">
      <img src="/assets/images/banner/cs2_banner.jpg" alt="img-1" />
    </div>
    <div class="slide">
      <img src="/assets/images/banner/diablo4_banner.jpg" alt="img-2" />
    </div>
    <div class="slide">
      <img
        src="/assets/images/banner/cyberpunk2077phtmlib_banner.png"
        alt="img-3"
      />
    </div>
    <div class="slide">
      <img src="/assets/images/banner/baldurs3_banner.jpg" alt="img-4" />
    </div>
  </div>
  <div class="dotsContainer">
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
  </div>
</div>
