
<head>
  <link rel="stylesheet" href="styles/footer.css">
</head>
<div class="footer">
    <div class="footer-content">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <ul>
            <li><a href="#">X</a></li>
            <li><a href="#">F</a></li>
            <li><a href="#">Ig</a></li>
        </ul>
    </div>
    <p>&copy; Gamer's Vault 2023</p>
</div>
  </footer>