<head>
  <link rel="stylesheet" href="styles/login.css" />
  <link rel="stylesheet" href="styles/style.css" />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
  />
</head>
<div class="form">
  <div class="login-form">
    <h2>Iniciar Sesion</h2>
    <div class="login">
      <p>Usuario</p>
      <div class="input-container">
        <i class="material-icons">person</i>
        <input type="text" placeholder="Escribe tu mail" />
      </div>
      <div class="division-line-1"></div>
      <p>Contraseña</p>
      <div class="input-container">
        <i class="material-icons">lock</i>
        <input type="password" placeholder="Escribe tu contraseña" />
        <div class="division-line-2"></div>
      </div>
      <button>Iniciar Sesion</button>
    </div>
    <div class="register-container">
      <h4>¿No tienes cuenta?</h4>
      <button class="register">Registrarse</button>
    </div>
  </div>
</div>
