<head>
  <script src="/src/components/game-card/GameCard.js"></script>
  <link rel="stylesheet" href="components/sale-container/saleComponent.css" />
</head>
<div class="title">
  <h2>OFERTAS</h2>
</div>
<div>
  <div class="sale-component-container">
    <div class="sales-container">
      <div class="card-gallery">
        <game-card product-id="1"></game-card>
        <game-card product-id="2"></game-card>
      </div>
      <div class="card-gallery">
        <game-card product-id="3"></game-card>
        <game-card product-id="4"></game-card>
      </div>
    </div>
    <div class="sales-container">
      <div class="card-gallery">
        <game-card product-id="5"></game-card>
        <game-card product-id="6"></game-card>
      </div>
      <div class="card-gallery">
        <game-card product-id="7"></game-card>
        <game-card product-id="8"></game-card>
      </div>
    </div>
  </div>
</div>
