<head>
  <link rel="stylesheet" href="src/components/cart-box/cartBox.css" />
</head>
<div class="cart-box-container">
  <div class="cart-box">
    <img
      src="https://lh3.googleusercontent.com/drive-viewer/AK7aPaCRrS9e6eSBUbemuubQFb2g6XE8rS8bJsOG8B29XWFYRJHZvfnf_vhRCnkvhkzpzbymMeZ9Ymymv3EnifbxGzxOVX0H=s1600"
      alt=""
      class="cart-img"
    />
    <div class="detail-box">
      <div class="cart-product-title">Minecraft</div>
      <div class="price-delete">
        <h3>$420.69</h3>
        <button class="delete-btn">
          <i class="material-icons">delete</i>
        </button>
      </div>
    </div>
  </div>
</div>
