.featured-container h2 {
  padding: 5%;
  display: flex;
  justify-content: center;
  font-size: 30px;
}

.featured-games {
  display: flex;
  justify-content: center;
}

.game-images {
  grid-template-columns: auto;
}
