@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,800;1,100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-shadow: border-box;
  text-decoration: none;
  color: inherit;
}
.card-container {
  font-size: 1.7rem;

  padding: 4rem;
}
h2 {
  text-align: center;
  margin-bottom: 5rem;
  font-size: 4rem;
}
.all-card {
  display: flex;
  flex-wrap: wrap;
}
.card {
  overflow: hidden;
  background: #d1d1d1;
  color: #21201e;
  width: 20rem;
  height: 29rem;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin: 2rem;
}
.card h4 {
  font-weight: 400;
  font-size: 24px;
}
.card:hover img {
  cursor: pointer;
}
.card:hover {
  background: #b9b9b9;
}
.card img {
  height: 310px;
}
.card-title {
  margin-top: 1rem;
}
.card-price {
  margin-top: 4rem;
  font-weight: 400;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
}
.card.icons {
  margin: 2px;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  font-size: 30px;
}
