@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,800;1,100&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #b9b9b9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 5px 5%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header .logo {
  cursor: pointer;
  padding-top: 10px;
}

.header .logo img {
  height: 75px;
}

.header .nav-links li {
  display: inline-block;
  padding: 0 20px;
}

.header .nav-links a {
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
  color: inherit;
}

.material-icons {
  color: #363636;
  font-size: 2rem;
}

.material-icons:hover {
  color: black;
}

.header .nav-icons li {
  display: inline-block;
  padding: 0 5px;
}

/* Burger Menu Styling */

.burger-menu {
  display: none;
  cursor: pointer;
}

.search-bar {
  display: none;
}

.search-bar.active {
  display: inline;
}

.search-bar input[type="text"] {
  height: 3rem;
  min-width: 30rem;
  padding-left: 2rem;
  border: none;
  border-radius: 56px;
  background-color: #d1d1d1;
}

.search-bar input[type="text"]:focus {
  outline: none;
}

.search-toggle {
  align-items: center;
  cursor: pointer;
}

.nav-links.active {
  display: none;
}

@media screen and (max-width: 890px) {
  .burger-menu {
    display: inline;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    background-color: #b9b9b9;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    z-index: 1;
  }

  .nav-links.active {
    display: flex;
    align-items: start;
    gap: 2rem;
    padding: 2rem;
    z-index: 10;
  }

  .nav-links li {
    padding: 10px 20px;
    text-align: center;
  }
}
