.slider-container {
  position: relative;
  width: 100%;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

.img-slider {
  position: relative;
  width: 100vw;
}

.img-slider .slide {
  z-index: 1;
  position: absolute;
  width: 100%;
}

.img-slider .slide img {
  z-index: 1;
  width: 100%;
}

.dotsContainer {
  position: absolute;
  bottom: 5px;
  z-index: 3;
  left: 50%;
  transform: translateX(-50%);
}
.dotsContainer .dot {
  width: 15px;
  height: 15px;
  margin: 0px 2px;
  border: 3px solid #b9b9b9;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.6s ease;
}
.dotsContainer .active {
  background-color: #b9b9b9;
}
